/*
.container {
  border:dotted 2px gray;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
  justify-content:center;
  margin: auto;
  width: 1000px;
  height: 800px;
  margin-top: 2%;
}

.title {
  color: blue;
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  padding: 10px;
}

.logo {
  border: solid 2px;
  border-radius: 10px;
  background-image: url('https://cdn.mos.cms.futurecdn.net/ifZxgpjqTS8Dp7AuozUcSG-1200-80.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  width: 700px;
  height: 700px;
}

.text {
  width: 700px;
  height: 400px;
  color: rgb(6, 1, 143);
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: justify;
  padding: 1em;
  justify-content: center;
}
*/

.cardContainer {
  border: solid 2px black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 500px;
  margin: auto;
  text-align: center;
  background-color: greenyellow;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-items: center;
  margin-top: 200px;
}

.rickImg {
  width: 300px;
  height: 350px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: solid 2px black;
}

.nameTitle {
  border: solid 2px black;
  border-radius: 20px;
  font-size: 25px;
  font-weight: bold;
  width: 160px;
  text-align: center;
  padding: 0.5rem;
  margin-top: -20px;
  background-color: rgb(164, 235, 192);
}

.details {
  font-size: 20px;
  font-weight: normal;
  margin-top: 10px;
  
}

.cardContainer2 {
  border: solid 2px black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 500px;
  margin: auto;
  text-align: center;
  background-color: rgb(155, 227, 247);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-items: center;
  
}

.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 150px;
}

.mainCont {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  align-items: center;
}

.mainTitle {
  font-size: 40px;
  color:rgba(255, 0, 0, 0.518);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
  padding: 0.5rem;
}